@import 'normalize.css';

:root {
    --primary: #fe2c55;

    // Default Layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --text-color: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
    font-family: 'proxima-nova', Arial, Tahoma, PingFangSC, sans-serif;
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
    background-color: transparent;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}
